*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  position: relative; }

.hidden {
  display: none; }

body {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #253347; }

.heading-xl {
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 1.1; }

.heading-l {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.1; }

.heading-m {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: -0.5px; }

.heading-s {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.1; }
  @media only screen and (min-width: 151.8em) {
    .heading-s {
      font-size: 2.8rem; } }

@media only screen and (min-width: 43em) {
  p {
    font-size: 1.7rem; } }

@media only screen and (min-width: 97.5em) {
  p {
    font-size: 2rem; } }

@media only screen and (min-width: 151.8em) {
  p {
    font-size: 2.4rem; } }

.calculator {
  background-color: #fff;
  margin-bottom: 2.4rem;
  padding: 2.4rem;
  border: 1px solid #fff;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  border-radius: 10px;
  box-shadow: 0 2rem 4rem #d6e6fe;
  position: absolute;
  top: 45rem;
  right: 5vw;
  left: 5vw;
  z-index: 10; }
  @media only screen and (min-width: 43em) {
    .calculator {
      top: 34rem;
      right: 7vw;
      left: 7vw;
      margin-bottom: 5rem; } }
  @media only screen and (min-width: 62.5em) {
    .calculator {
      max-width: 60rem;
      top: 12rem;
      left: 50vw; } }
  @media only screen and (min-width: 97.5em) {
    .calculator {
      max-width: 80rem;
      padding: 3.2rem; } }
  @media only screen and (min-width: 151.8em) {
    .calculator {
      max-width: 90rem;
      padding: 4.8rem;
      top: 16rem; } }
  .calculator > .heading-m {
    align-self: center; }
    @media only screen and (min-width: 43em) {
      .calculator > .heading-m {
        align-self: flex-start; } }
    @media only screen and (min-width: 62.5em) {
      .calculator > .heading-m {
        font-size: 1.6rem; } }
    @media only screen and (min-width: 97.5em) {
      .calculator > .heading-m {
        font-size: 3.2rem;
        margin-bottom: 2.4rem; } }
    @media only screen and (min-width: 151.8em) {
      .calculator > .heading-m {
        font-size: 4rem;
        margin-bottom: 3.2rem; } }

.form {
  display: flex;
  flex-direction: column;
  gap: 2.4rem; }
  .form-radio {
    width: 100%;
    display: flex;
    justify-content: space-between; }
    @media only screen and (min-width: 43em) {
      .form-radio {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2.4rem; } }
    @media only screen and (min-width: 151.8em) {
      .form-radio {
        margin-bottom: 3.2rem; } }
    .form-radio-label {
      font-size: 2rem;
      cursor: pointer;
      position: relative;
      padding-left: 4.8rem; }
      @media only screen and (min-width: 62.5em) {
        .form-radio-label {
          font-size: 1.4rem; } }
      @media only screen and (min-width: 97.5em) {
        .form-radio-label {
          font-size: 2.4rem; } }
      @media only screen and (min-width: 151.8em) {
        .form-radio-label {
          font-size: 3.2rem; } }
    .form-radio-button {
      display: inline-block;
      width: 2.5rem;
      height: 2.5rem;
      border: 1px solid #d8e2e7;
      border-radius: 50%;
      position: absolute;
      left: 0;
      top: -0.1rem; }
      .form-radio-button::after {
        content: "";
        display: block;
        height: 1.2rem;
        width: 1.2rem;
        background-color: #345ff6;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: opacity 0.2s; }
        @media only screen and (min-width: 62.5em) {
          .form-radio-button::after {
            width: 0.8rem;
            height: 0.8rem; } }
        @media only screen and (min-width: 97.5em) {
          .form-radio-button::after {
            width: 1.2rem;
            height: 1.2rem; } }
        @media only screen and (min-width: 151.8em) {
          .form-radio-button::after {
            width: 1.6rem;
            height: 1.6rem; } }
      @media only screen and (min-width: 62.5em) {
        .form-radio-button {
          width: 1.6rem;
          height: 1.6rem; } }
      @media only screen and (min-width: 97.5em) {
        .form-radio-button {
          width: 2.4rem;
          height: 2.4rem; } }
      @media only screen and (min-width: 151.8em) {
        .form-radio-button {
          width: 3.2rem;
          height: 3.2rem;
          top: 0.1rem; } }
    .form-radio-input {
      display: none; }
    .form-radio-input:checked ~ .form-radio-label .form-radio-button {
      background-color: #d6e6fe; }
    .form-radio-input:checked ~ .form-radio-label .form-radio-button::after {
      opacity: 1; }
  .form-metric {
    display: grid; }
    @media only screen and (min-width: 43em) {
      .form-metric {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 2.4rem; } }
    @media only screen and (min-width: 97.5em) {
      .form-metric {
        margin-bottom: 2.4rem; } }
    @media only screen and (min-width: 151.8em) {
      .form-metric {
        margin-bottom: 3.2rem; } }
    .form-metric-label {
      display: block;
      margin-bottom: 0.8rem; }
      @media only screen and (min-width: 43em) {
        .form-metric-label {
          grid-row: 1/2; } }
      @media only screen and (min-width: 62.5em) {
        .form-metric-label {
          font-size: 1rem; } }
      @media only screen and (min-width: 97.5em) {
        .form-metric-label {
          font-size: 1.6rem; } }
      @media only screen and (min-width: 151.8em) {
        .form-metric-label {
          font-size: 2.4rem; } }
    .form-metric-input {
      display: block;
      width: 100%;
      height: 6.9rem;
      border: 1px solid #d8e2e7;
      border-radius: 10px;
      padding: 2rem;
      padding-right: 6rem;
      margin-bottom: 1.6rem; }
      @media only screen and (min-width: 62.5em) {
        .form-metric-input {
          height: 4rem;
          font-size: 2rem; } }
      @media only screen and (min-width: 97.5em) {
        .form-metric-input {
          height: 6.5rem;
          font-size: 2.4rem; } }
      @media only screen and (min-width: 151.8em) {
        .form-metric-input {
          height: 7rem;
          font-size: 3.2rem; } }
  @media only screen and (min-width: 97.5em) {
    .form-imperial {
      margin-bottom: 2.4rem; } }
  @media only screen and (min-width: 151.8em) {
    .form-imperial {
      margin-bottom: 3.2rem; } }
  .form-imperial-label {
    display: block;
    margin-bottom: 0.8rem; }
    @media only screen and (min-width: 62.5em) {
      .form-imperial-label {
        font-size: 1rem; } }
    @media only screen and (min-width: 97.5em) {
      .form-imperial-label {
        font-size: 1.6rem; } }
    @media only screen and (min-width: 151.8em) {
      .form-imperial-label {
        font-size: 2.4rem; } }
  .form-imperial-input {
    display: block;
    width: 100%;
    height: 6.9rem;
    border: 1px solid #d8e2e7;
    border-radius: 10px;
    padding: 2rem;
    padding-right: 5rem;
    margin-bottom: 1.6rem; }
    @media only screen and (min-width: 62.5em) {
      .form-imperial-input {
        height: 4rem;
        font-size: 2rem; } }
    @media only screen and (min-width: 97.5em) {
      .form-imperial-input {
        height: 6.5rem;
        font-size: 2.4rem; } }
    @media only screen and (min-width: 151.8em) {
      .form-imperial-input {
        height: 7rem;
        font-size: 3.2rem; } }
  .form-imperial-inputs-row {
    display: flex;
    justify-content: space-between; }

#label-cm,
#label-kg,
#label-ft,
#label-in,
#label-st,
#label-lbs {
  position: relative;
  display: block; }

#label-ft,
#label-in,
#label-st,
#label-lbs {
  width: 47%; }

#label-cm::after {
  content: "cm";
  position: absolute;
  top: 1.6rem;
  right: 2rem;
  font-size: 2.4rem;
  font-weight: 600;
  color: #345ff6; }
  @media only screen and (min-width: 62.5em) {
    #label-cm::after {
      font-size: 2rem;
      top: 0.6rem; } }
  @media only screen and (min-width: 97.5em) {
    #label-cm::after {
      font-size: 2.4rem;
      top: 1.6rem; } }
  @media only screen and (min-width: 151.8em) {
    #label-cm::after {
      font-size: 3.2rem;
      top: 1.1rem; } }

#label-kg::after {
  content: "kg";
  position: absolute;
  top: 1.6rem;
  right: 2rem;
  display: block;
  font-size: 2.4rem;
  font-weight: 600;
  color: #345ff6; }
  @media only screen and (min-width: 62.5em) {
    #label-kg::after {
      font-size: 2rem;
      top: 0.6rem; } }
  @media only screen and (min-width: 97.5em) {
    #label-kg::after {
      font-size: 2.4rem;
      top: 1.6rem; } }
  @media only screen and (min-width: 151.8em) {
    #label-kg::after {
      font-size: 3.2rem;
      top: 1.1rem; } }

#label-ft::after {
  content: "ft";
  position: absolute;
  top: 1.6rem;
  right: 2rem;
  font-size: 2.4rem;
  font-weight: 600;
  color: #345ff6; }
  @media only screen and (min-width: 62.5em) {
    #label-ft::after {
      font-size: 2rem;
      top: 0.6rem; } }
  @media only screen and (min-width: 97.5em) {
    #label-ft::after {
      font-size: 2.4rem;
      top: 1.6rem; } }
  @media only screen and (min-width: 151.8em) {
    #label-ft::after {
      font-size: 3.2rem;
      top: 1.1rem; } }

#label-in::after {
  content: "in";
  position: absolute;
  top: 1.6rem;
  right: 2rem;
  font-size: 2.4rem;
  font-weight: 600;
  color: #345ff6; }
  @media only screen and (min-width: 62.5em) {
    #label-in::after {
      font-size: 2rem;
      top: 0.6rem; } }
  @media only screen and (min-width: 97.5em) {
    #label-in::after {
      font-size: 2.4rem;
      top: 1.6rem; } }
  @media only screen and (min-width: 151.8em) {
    #label-in::after {
      font-size: 3.2rem;
      top: 1.1rem; } }

#label-st::after {
  content: "st";
  position: absolute;
  top: 1.6rem;
  right: 2rem;
  font-size: 2.4rem;
  font-weight: 600;
  color: #345ff6; }
  @media only screen and (min-width: 62.5em) {
    #label-st::after {
      font-size: 2rem;
      top: 0.6rem; } }
  @media only screen and (min-width: 97.5em) {
    #label-st::after {
      font-size: 2.4rem;
      top: 1.6rem; } }
  @media only screen and (min-width: 151.8em) {
    #label-st::after {
      font-size: 3.2rem;
      top: 1.1rem; } }

#label-lbs::after {
  content: "lbs";
  position: absolute;
  top: 1.6rem;
  right: 2rem;
  font-size: 2.4rem;
  font-weight: 600;
  color: #345ff6; }
  @media only screen and (min-width: 62.5em) {
    #label-lbs::after {
      font-size: 2rem;
      top: 0.6rem; } }
  @media only screen and (min-width: 97.5em) {
    #label-lbs::after {
      font-size: 2.4rem;
      top: 1.6rem; } }
  @media only screen and (min-width: 151.8em) {
    #label-lbs::after {
      font-size: 3.2rem;
      top: 1.1rem; } }

.score {
  background-color: #345ff6;
  margin-top: 0.8rem;
  padding: 3.2rem;
  border-radius: 10px;
  color: #d8e2e7; }
  @media only screen and (min-width: 43em) {
    .score {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 2.4rem;
      border-radius: 10px 100px 100px 10px;
      align-items: center;
      font-size: 1.6rem; } }
  @media only screen and (min-width: 62.5em) {
    .score {
      padding: 2rem;
      font-size: 1.2rem; } }
  @media only screen and (min-width: 77.5em) {
    .score {
      font-size: 2rem;
      padding: 2.4rem; } }
  @media only screen and (min-width: 151.8em) {
    .score {
      padding: 3.2rem; } }
  @media only screen and (min-width: 62.5em) {
    .score .heading-s {
      font-size: 2.4rem; } }

#BMI-intro {
  display: block;
  grid-column: 1 / -1; }

#BMI-score {
  display: block;
  font-size: 4.8rem;
  font-weight: 600; }
  @media only screen and (min-width: 62.5em) {
    #BMI-score {
      font-size: 6.4rem; } }

#BMI-text {
  display: none; }

#BMI-range {
  font-size: 2rem;
  font-weight: 600; }
  @media only screen and (min-width: 62.5em) {
    #BMI-range {
      font-size: 1.4rem; } }
  @media only screen and (min-width: 62.5em) {
    #BMI-range {
      font-size: 2.2rem; } }

header {
  background-image: linear-gradient(to right bottom, #fff 15%, #d6e6fe);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2.4rem;
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 3rem; }
  @media only screen and (min-width: 62.5em) {
    header {
      max-width: 70vw;
      padding-left: 8.8rem;
      padding-right: 8.8rem;
      align-items: flex-start; } }

.logo {
  width: 4rem;
  height: 4rem;
  display: inline-block;
  margin-top: 3.2rem; }
  @media only screen and (min-width: 62.5em) {
    .logo {
      margin-top: 7.4rem; } }
  @media only screen and (min-width: 77.5em) {
    .logo {
      width: 6rem;
      height: 6rem; } }
  @media only screen and (min-width: 97.5em) {
    .logo {
      width: 8rem;
      height: 8rem; } }
  @media only screen and (min-width: 151.8em) {
    .logo {
      width: 12rem;
      height: 12rem; } }

.heading-xl {
  margin: 2.4rem auto;
  text-align: center; }
  @media only screen and (min-width: 43em) {
    .heading-xl {
      max-width: 60vw;
      margin-top: 4.8rem; } }
  @media only screen and (min-width: 62.5em) {
    .heading-xl {
      text-align: start;
      font-size: 4rem;
      margin-left: 0;
      margin-top: 7.75rem;
      max-width: 60%; } }
  @media only screen and (min-width: 97.5em) {
    .heading-xl {
      font-size: 6.4rem; } }
  @media only screen and (min-width: 151.8em) {
    .heading-xl {
      font-size: 8rem; } }

.heading-box {
  text-align: center;
  margin-bottom: 21.7rem; }
  @media only screen and (min-width: 43em) {
    .heading-box {
      margin-bottom: 29.7rem; } }
  @media only screen and (min-width: 62.5em) {
    .heading-box {
      text-align: start;
      font-size: 1.4rem;
      margin-top: 2rem;
      margin-bottom: 9rem;
      max-width: 60%; } }
  @media only screen and (min-width: 97.5em) {
    .heading-box {
      font-size: 2.4rem; } }
  @media only screen and (min-width: 151.8em) {
    .heading-box {
      font-size: 3.2rem;
      margin-bottom: 15rem; } }

.limitations {
  max-width: 100vw;
  padding: 0 2.4rem;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1.6rem;
  margin-bottom: 9.6rem; }
  @media only screen and (min-width: 43em) {
    .limitations {
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 2.4rem; } }
  @media only screen and (min-width: 62.5em) {
    .limitations {
      max-width: 80vw;
      margin: 7.5rem auto 7.5rem auto;
      grid-template-columns: repeat(12, 1fr);
      align-items: center;
      position: relative; } }
  @media only screen and (min-width: 151.8em) {
    .limitations {
      margin: 15rem auto 15rem auto;
      grid-gap: 8rem; } }
  .limitations-intro {
    text-align: center;
    margin-top: 7.2rem;
    margin-bottom: 5.6rem; }
    @media only screen and (min-width: 43em) {
      .limitations-intro {
        grid-column: 1 / -1; } }
    @media only screen and (min-width: 62.5em) {
      .limitations-intro {
        grid-column: 1 / 7;
        text-align: left;
        margin-top: 0;
        margin-bottom: 0; } }
    .limitations-intro .heading-l {
      margin-bottom: 3.2rem; }
      @media only screen and (min-width: 151.8em) {
        .limitations-intro .heading-l {
          font-size: 4.8rem; } }
    .limitations-intro p {
      font-size: 1.4rem; }
      @media only screen and (min-width: 97.5em) {
        .limitations-intro p {
          font-size: 2rem; } }
      @media only screen and (min-width: 151.8em) {
        .limitations-intro p {
          font-size: 2.4rem; } }
  .limitations-box {
    padding: 2.4rem;
    border-radius: 1rem;
    box-shadow: 0 1rem 2rem #d6e6fe; }
    @media only screen and (min-width: 43em) {
      .limitations-box {
        font-size: 1.6rem; } }
    @media only screen and (min-width: 62.5em) {
      .limitations-box {
        align-self: stretch; } }
    .limitations-box-title {
      display: flex;
      align-items: center;
      gap: 1.6rem;
      margin-bottom: 1.6rem; }
    @media only screen and (min-width: 43em) {
      .limitations-box > p {
        font-size: 1.6rem; } }
    @media only screen and (min-width: 62.5em) {
      .limitations-box > p {
        font-size: 1.4rem; } }
    @media only screen and (min-width: 97.5em) {
      .limitations-box > p {
        font-size: 2rem; } }
    @media only screen and (min-width: 151.8em) {
      .limitations-box > p {
        font-size: 2.4rem; } }
    @media only screen and (min-width: 43em) {
      .limitations-box--1 {
        grid-column: 1/3; } }
    @media only screen and (min-width: 62.5em) {
      .limitations-box--1 {
        grid-column: 8/12; } }
    @media only screen and (min-width: 43em) {
      .limitations-box--2 {
        grid-column: 3/-1; } }
    @media only screen and (min-width: 62.5em) {
      .limitations-box--2 {
        grid-column: 5/9; } }
    @media only screen and (min-width: 43em) {
      .limitations-box--3 {
        grid-column: 1/3; } }
    @media only screen and (min-width: 62.5em) {
      .limitations-box--3 {
        grid-column: 9/-1; } }
    @media only screen and (min-width: 43em) {
      .limitations-box--4 {
        grid-column: 3/-1; } }
    @media only screen and (min-width: 62.5em) {
      .limitations-box--4 {
        grid-column: 3/7; } }
    @media only screen and (min-width: 43em) {
      .limitations-box--5 {
        grid-column: 2/4; } }
    @media only screen and (min-width: 62.5em) {
      .limitations-box--5 {
        grid-column: 7/11; } }
  .limitations-icon {
    width: 3.2rem;
    height: 3.2rem; }
    @media only screen and (min-width: 151.8em) {
      .limitations-icon {
        width: 3.6rem;
        height: 3.6rem; } }

#limitations-curved-line {
  display: none; }
  @media only screen and (min-width: 62.5em) {
    #limitations-curved-line {
      display: block;
      position: absolute;
      width: 10rem;
      top: 24rem;
      left: 12rem; } }
  @media only screen and (min-width: 77.5em) {
    #limitations-curved-line {
      width: 8rem;
      height: 16rem;
      top: 20rem;
      left: 20rem; } }
  @media only screen and (min-width: 97.5em) {
    #limitations-curved-line {
      top: 23rem;
      left: 28rem; } }
  @media only screen and (min-width: 151.8em) {
    #limitations-curved-line {
      width: 16rem;
      height: 32rem;
      top: 20rem;
      left: 40rem; } }

.result {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin-top: 65rem; }
  @media only screen and (min-width: 43em) {
    .result {
      margin-top: 30rem;
      margin-bottom: 5rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center; } }
  @media only screen and (min-width: 62.5em) {
    .result {
      margin: 10.5rem auto 5rem auto;
      max-width: 80vw;
      position: relative;
      grid-gap: 8rem;
      justify-items: space-between; } }
  @media only screen and (min-width: 151.8em) {
    .result {
      grid-gap: 16rem;
      margin-bottom: 10rem; } }
  .result-photo {
    width: 100%; }
    @media only screen and (min-width: 43em) {
      .result-photo {
        transform: translateX(-7rem); } }
    @media only screen and (min-width: 62.5em) {
      .result-photo {
        transform: translateX(0); } }
  .result-text {
    margin-top: 4.8rem;
    margin-bottom: 7.1rem;
    padding: 2.4rem; }
    @media only screen and (min-width: 43em) {
      .result-text {
        margin-top: 0;
        margin-bottom: 0; } }
    @media only screen and (min-width: 62.5em) {
      .result-text {
        font-size: 1.2rem;
        align-self: last baseline;
        padding: 1.2rem;
        margin-bottom: 2.4rem; } }
    @media only screen and (min-width: 77.5em) {
      .result-text {
        font-size: 1.4rem;
        margin-bottom: 4.8rem; } }
    @media only screen and (min-width: 97.5em) {
      .result-text {
        font-size: 2rem;
        margin-bottom: 4.8rem; } }
    @media only screen and (min-width: 151.8em) {
      .result-text {
        font-size: 2.4rem;
        margin-top: 28rem;
        margin-bottom: 3.2rem;
        align-self: center; } }
    .result-text .heading-l {
      margin-bottom: 3.2rem; }
      @media only screen and (min-width: 43em) {
        .result-text .heading-l {
          font-size: 2.8rem; } }
      @media only screen and (min-width: 62.5em) {
        .result-text .heading-l {
          margin-bottom: 2.4rem; } }
      @media only screen and (min-width: 77.5em) {
        .result-text .heading-l {
          font-size: 2.8rem; } }
      @media only screen and (min-width: 97.5em) {
        .result-text .heading-l {
          font-size: 4.8rem; } }
      @media only screen and (min-width: 151.8em) {
        .result-text .heading-l {
          font-size: 6.4rem; } }

#result-curved-line {
  display: none; }
  @media only screen and (min-width: 62.5em) {
    #result-curved-line {
      display: block;
      position: absolute;
      right: -7rem;
      top: 0;
      transform: translateY(-45%); } }
  @media only screen and (min-width: 77.5em) {
    #result-curved-line {
      width: 8rem;
      height: 16rem;
      right: 10rem;
      top: 0;
      transform: translateY(-10%); } }
  @media only screen and (min-width: 97.5em) {
    #result-curved-line {
      right: 10rem;
      top: 0;
      transform: translateY(-30%); } }
  @media only screen and (min-width: 125em) {
    #result-curved-line {
      width: 12rem;
      height: 24rem;
      right: 20rem;
      top: 0;
      transform: translateY(25%); } }
  @media only screen and (min-width: 151.8em) {
    #result-curved-line {
      width: 16rem;
      height: 32rem;
      right: 27rem;
      top: 0;
      transform: translateY(0); } }

.tips {
  background-image: linear-gradient(to right, #fff 10%, #eff6f9);
  padding: 2.4rem; }
  @media only screen and (min-width: 62.5em) {
    .tips {
      margin: 0 auto;
      border-radius: 3rem;
      padding-left: 10vw;
      padding-right: 10vw;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 3rem; } }
  @media only screen and (min-width: 77.5em) {
    .tips {
      padding-top: 3.2rem;
      padding-bottom: 3.2rem; } }
  @media only screen and (min-width: 151.8em) {
    .tips {
      padding-top: 4.8rem;
      padding-bottom: 4.8rem; } }
  .tips-box {
    display: flex;
    flex-direction: column;
    gap: 3.2rem; }
    .tips-box:not(:last-child) {
      margin-bottom: 4rem; }
    .tips-box:last-child {
      margin-bottom: 5.6rem; }
    @media only screen and (min-width: 43em) {
      .tips-box {
        flex-direction: row;
        align-items: center; } }
    @media only screen and (min-width: 62.5em) {
      .tips-box {
        flex-direction: column;
        align-items: flex-start; } }
    @media only screen and (min-width: 43em) {
      .tips-box .heading-m {
        margin-bottom: 2.4rem; } }
    @media only screen and (min-width: 151.8em) {
      .tips-box .heading-m {
        font-size: 3.2rem; } }
  .tips-icon {
    width: 6.4rem;
    height: 6.4rem;
    display: inline-block; }
    @media only screen and (min-width: 43em) {
      .tips-icon {
        width: 10rem;
        height: 10rem; } }
    @media only screen and (min-width: 62.5em) {
      .tips-icon {
        width: 4.8rem;
        height: 4.8rem; } }
    @media only screen and (min-width: 151.8em) {
      .tips-icon {
        width: 8rem;
        height: 8rem; } }
