*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  position: relative; }

.hidden {
  display: none; }

body {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #253347; }

.heading-xl {
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 1.1; }

.heading-l {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.1; }

.heading-m {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: -0.5px; }

.heading-s {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.1; }

@media only screen and (min-width: 43em) {
  p {
    font-size: 1.7rem; } }

.calculator {
  background-color: #fff;
  margin-bottom: 2.4rem;
  padding: 2.4rem;
  border: 1px solid #fff;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  border-radius: 10px;
  box-shadow: 0 2rem 4rem #d6e6fe;
  position: absolute;
  top: 45rem;
  right: 5vw;
  left: 5vw; }
  @media only screen and (min-width: 43em) {
    .calculator {
      top: 34rem;
      right: 7vw;
      left: 7vw;
      margin-bottom: 5rem; } }
  .calculator > .heading-m {
    align-self: center; }
    @media only screen and (min-width: 43em) {
      .calculator > .heading-m {
        align-self: flex-start; } }

.form {
  display: flex;
  flex-direction: column;
  gap: 2.4rem; }
  .form-radio {
    width: 100%;
    display: flex;
    justify-content: space-between; }
    @media only screen and (min-width: 43em) {
      .form-radio {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2.4rem; } }
    .form-radio-label {
      font-size: 2rem;
      cursor: pointer;
      position: relative;
      padding-left: 4.8rem; }
    .form-radio-button {
      display: inline-block;
      width: 2.5rem;
      height: 2.5rem;
      border: 1px solid #d8e2e7;
      border-radius: 50%;
      position: absolute;
      left: 0;
      top: -0.1rem; }
      .form-radio-button::after {
        content: "";
        display: block;
        height: 1.2rem;
        width: 1.2rem;
        background-color: #345ff6;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: opacity 0.2s; }
    .form-radio-input {
      display: none; }
    .form-radio-input:checked ~ .form-radio-label .form-radio-button {
      background-color: #d6e6fe; }
    .form-radio-input:checked ~ .form-radio-label .form-radio-button::after {
      opacity: 1; }
  .form-metric {
    display: grid; }
    @media only screen and (min-width: 43em) {
      .form-metric {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 2.4rem; } }
    .form-metric-label {
      display: block;
      margin-bottom: 0.8rem; }
      @media only screen and (min-width: 43em) {
        .form-metric-label {
          grid-row: 1/2; } }
    .form-metric-input {
      display: block;
      width: 100%;
      height: 6.9rem;
      border: 1px solid #d8e2e7;
      border-radius: 10px;
      padding: 2rem;
      padding-right: 6rem;
      margin-bottom: 1.6rem; }
  .form-imperial-label {
    display: block;
    margin-bottom: 0.8rem; }
  .form-imperial-input {
    display: block;
    width: 100%;
    height: 6.9rem;
    border: 1px solid #d8e2e7;
    border-radius: 10px;
    padding: 2rem;
    padding-right: 5rem;
    margin-bottom: 1.6rem; }
  .form-imperial-inputs-row {
    display: flex;
    justify-content: space-between; }

#label-cm,
#label-kg,
#label-ft,
#label-in,
#label-st,
#label-lbs {
  position: relative;
  display: block; }

#label-ft,
#label-in,
#label-st,
#label-lbs {
  width: 47%; }

#label-cm::after {
  content: "cm";
  position: absolute;
  top: 1.6rem;
  right: 2rem;
  font-size: 2.4rem;
  font-weight: 600;
  color: #345ff6; }

#label-kg::after {
  content: "kg";
  position: absolute;
  top: 1.6rem;
  right: 2rem;
  display: block;
  font-size: 2.4rem;
  font-weight: 600;
  color: #345ff6; }

#label-ft::after {
  content: "ft";
  position: absolute;
  top: 1.6rem;
  right: 2rem;
  font-size: 2.4rem;
  font-weight: 600;
  color: #345ff6; }

#label-in::after {
  content: "in";
  position: absolute;
  top: 1.6rem;
  right: 2rem;
  font-size: 2.4rem;
  font-weight: 600;
  color: #345ff6; }

#label-st::after {
  content: "st";
  position: absolute;
  top: 1.6rem;
  right: 2rem;
  font-size: 2.4rem;
  font-weight: 600;
  color: #345ff6; }

#label-lbs::after {
  content: "lbs";
  position: absolute;
  top: 1.6rem;
  right: 2rem;
  font-size: 2.4rem;
  font-weight: 600;
  color: #345ff6; }

.score {
  background-color: #345ff6;
  margin-top: 0.8rem;
  padding: 3.2rem;
  border-radius: 10px;
  color: #d8e2e7; }
  @media only screen and (min-width: 43em) {
    .score {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 2.4rem;
      border-radius: 10px 100px 100px 10px;
      align-items: center;
      font-size: 1.6rem; } }

#BMI-score {
  display: block;
  font-size: 4.8rem;
  font-weight: 600; }

#BMI-range {
  font-size: 2rem;
  font-weight: 600; }

header {
  background-image: linear-gradient(to right bottom, #fff 15%, #d6e6fe);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2.4rem;
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 3rem; }

.logo {
  width: 4rem;
  height: 4rem;
  display: inline-block;
  margin-top: 3.2rem; }

.heading-xl {
  margin: 2.4rem auto;
  text-align: center; }
  @media only screen and (min-width: 43em) {
    .heading-xl {
      max-width: 60vw;
      margin-top: 4.8rem; } }

.heading-box {
  text-align: center;
  margin-bottom: 21.7rem; }
  @media only screen and (min-width: 43em) {
    .heading-box {
      margin-bottom: 29.7rem; } }

.limitations {
  padding: 0 2.4rem; }
  .limitations-intro {
    text-align: center;
    margin-top: 7.2rem;
    margin-bottom: 5.6rem; }
    .limitations-intro .heading-l {
      margin-bottom: 3.2rem; }
  .limitations-content {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1.6rem;
    margin-bottom: 9.6rem; }
    @media only screen and (min-width: 43em) {
      .limitations-content {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 2.4rem; } }
  .limitations-box {
    padding: 2.4rem;
    border-radius: 1rem;
    box-shadow: 0 1rem 2rem #d6e6fe; }
    @media only screen and (min-width: 43em) {
      .limitations-box {
        font-size: 1.6rem; } }
    .limitations-box-title {
      display: flex;
      align-items: center;
      gap: 1.6rem;
      margin-bottom: 1.6rem; }
    @media only screen and (min-width: 43em) {
      .limitations-box > p {
        font-size: 1.6rem; } }
    @media only screen and (min-width: 43em) {
      .limitations-box--1 {
        grid-column: 1/3; } }
    @media only screen and (min-width: 43em) {
      .limitations-box--2 {
        grid-column: 3/-1; } }
    @media only screen and (min-width: 43em) {
      .limitations-box--3 {
        grid-column: 1/3; } }
    @media only screen and (min-width: 43em) {
      .limitations-box--4 {
        grid-column: 3/-1; } }
    @media only screen and (min-width: 43em) {
      .limitations-box--5 {
        grid-column: 2/4; } }
  .limitations-icon {
    width: 3.2rem;
    height: 3.2rem; }

.result {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin-top: 65rem; }
  @media only screen and (min-width: 43em) {
    .result {
      margin-top: 30rem;
      margin-bottom: 5rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center; } }
  .result-photo {
    width: 100%; }
    @media only screen and (min-width: 43em) {
      .result-photo {
        transform: translateX(-7rem); } }
  .result-text {
    margin-top: 4.8rem;
    margin-bottom: 7.1rem;
    padding: 2.4rem; }
    @media only screen and (min-width: 43em) {
      .result-text {
        margin-top: 0;
        margin-bottom: 0; } }
    .result-text .heading-l {
      margin-bottom: 3.2rem; }
      @media only screen and (min-width: 43em) {
        .result-text .heading-l {
          font-size: 2.8rem; } }

.tips {
  background-image: linear-gradient(to right, #fff 10%, #eff6f9);
  padding: 2.4rem; }
  .tips-box {
    display: flex;
    flex-direction: column;
    gap: 3.2rem; }
    .tips-box:not(:last-child) {
      margin-bottom: 4rem; }
    .tips-box:last-child {
      margin-bottom: 5.6rem; }
    @media only screen and (min-width: 43em) {
      .tips-box {
        flex-direction: row;
        align-items: center; } }
    @media only screen and (min-width: 43em) {
      .tips-box .heading-m {
        margin-bottom: 2.4rem; } }
  .tips-icon {
    width: 6.4rem;
    height: 6.4rem;
    display: inline-block; }
    @media only screen and (min-width: 43em) {
      .tips-icon {
        width: 10rem;
        height: 10rem; } }
