//COLORS
$color-blue: #345ff6;
$color-grey-dark: #253347;
$color-grey-medium: #5e6e85;
$color-grey-light: #d8e2e7;
$color-white: #fff;

//RESPONSIVE BREAKPOINTS
$bp-largest: 77.5em; //1240px
$bp-large: 62.5em; //1000px
$bp-medium: 50em; //800px
$bp-small: 43em; //688px
