//COLORS
$color-blue: #345ff6;
$color-grey-dark: #253347;
$color-grey-medium: #5e6e85;
$color-grey-light: #d8e2e7;
$color-white: #fff;

//RESPONSIVE BREAKPOINTS
$bp-largest: 151.8em; //2430px
$bp-xxlarge: 125em; //2000px
$bp-xlarge: 97.5em; //1560px
$bp-large: 77.5em; //1240px
$bp-medium: 62.5em; //1000px
$bp-small: 43em; //688px
