header {
  background-image: linear-gradient(to right bottom, $color-white 15%, #d6e6fe);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2.4rem;
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 3rem;

  @media only screen and (min-width: $bp-large) {
    max-width: 70vw;
    padding-left: 8.8rem;
    padding-right: 8.8rem;
    align-items: flex-start;
  }
}

.logo {
  width: 4rem;
  height: 4rem;
  display: inline-block;
  margin-top: 3.2rem;

  @media only screen and (min-width: $bp-large) {
    margin-top: 7.4rem;
  }
}

.heading-xl {
  margin: 2.4rem auto;
  text-align: center;

  @media only screen and (min-width: $bp-small) {
    max-width: 60vw;
    margin-top: 4.8rem;
  }

  @media only screen and (min-width: $bp-large) {
    text-align: start;
    font-size: 4rem;
    margin-left: 0;
    margin-top: 7.75rem;
    max-width: 60%;
  }
}

.heading-box {
  text-align: center;
  margin-bottom: 21.7rem;

  @media only screen and (min-width: $bp-small) {
    margin-bottom: 29.7rem;
  }

  @media only screen and (min-width: $bp-large) {
    text-align: start;
    font-size: 1.4rem;
    margin-top: 2rem;
    margin-bottom: 9rem;
    max-width: 60%;
  }
}
