.result {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin-top: 65rem;

  @media only screen and (min-width: $bp-small) {
    margin-top: 30rem;
    margin-bottom: 5rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  @media only screen and (min-width: $bp-large) {
    margin: 10.5rem auto 5rem auto;
    max-width: 80vw;
    position: relative;
    grid-gap: 12rem;
    justify-items: space-between;
  }

  &-photo {
    width: 100%;
    @media only screen and (min-width: $bp-small) {
      transform: translateX(-7rem);
    }
    @media only screen and (min-width: $bp-large) {
      transform: translateX(0);
    }
  }

  &-text {
    margin-top: 4.8rem;
    margin-bottom: 7.1rem;
    padding: 2.4rem;
    @media only screen and (min-width: $bp-small) {
      margin-top: 0;
      margin-bottom: 0;
    }
    @media only screen and (min-width: $bp-large) {
      font-size: 1.2rem;
      align-self: last baseline;
      padding: 0;
      margin-bottom: 2.4rem;
    }

    & .heading-l {
      margin-bottom: 3.2rem;
      @media only screen and (min-width: $bp-small) {
        font-size: 2.8rem;
      }
      @media only screen and (min-width: $bp-large) {
        margin-bottom: 2.4rem;
        // font-size: 3.2rem;
      }
    }
  }
}

#result-curved-line {
  display: none;
  @media only screen and (min-width: $bp-large) {
    display: block;
    position: absolute;
    right: -7rem;
    top: 0;
    transform: translateY(-45%);
  }
}
