.result {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin-top: 65rem;

  @media only screen and (min-width: $bp-small) {
    margin-top: 30rem;
    margin-bottom: 5rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  @media only screen and (min-width: $bp-medium) {
    margin: 10.5rem auto 5rem auto;
    max-width: 80vw;
    position: relative;
    grid-gap: 8rem;
    justify-items: space-between;
  }

  @media only screen and (min-width: $bp-largest) {
    grid-gap: 16rem;
    margin-bottom: 10rem;
  }

  &-photo {
    width: 100%;
    @media only screen and (min-width: $bp-small) {
      transform: translateX(-7rem);
    }
    @media only screen and (min-width: $bp-medium) {
      transform: translateX(0);
    }
  }

  &-text {
    margin-top: 4.8rem;
    margin-bottom: 7.1rem;
    padding: 2.4rem;
    @media only screen and (min-width: $bp-small) {
      margin-top: 0;
      margin-bottom: 0;
    }
    @media only screen and (min-width: $bp-medium) {
      font-size: 1.2rem;
      align-self: last baseline;
      padding: 1.2rem;
      margin-bottom: 2.4rem;
    }

    @media only screen and (min-width: $bp-large) {
      font-size: 1.4rem;
      margin-bottom: 4.8rem;
    }

    @media only screen and (min-width: $bp-xlarge) {
      font-size: 2rem;
      margin-bottom: 4.8rem;
    }

    @media only screen and (min-width: $bp-largest) {
      font-size: 2.4rem;
      margin-top: 28rem;
      margin-bottom: 3.2rem;
      align-self: center;
    }

    & .heading-l {
      margin-bottom: 3.2rem;
      @media only screen and (min-width: $bp-small) {
        font-size: 2.8rem;
      }
      @media only screen and (min-width: $bp-medium) {
        margin-bottom: 2.4rem;
      }

      @media only screen and (min-width: $bp-large) {
        font-size: 2.8rem;
      }

      @media only screen and (min-width: $bp-xlarge) {
        font-size: 4.8rem;
      }

      @media only screen and (min-width: $bp-largest) {
        font-size: 6.4rem;
      }
    }
  }
}

#result-curved-line {
  display: none;
  @media only screen and (min-width: $bp-medium) {
    display: block;
    position: absolute;
    right: -7rem;
    top: 0;
    transform: translateY(-45%);
  }

  @media only screen and (min-width: $bp-large) {
    width: 8rem;
    height: 16rem;
    right: 10rem;
    top: 0;
    transform: translateY(-10%);
  }

  @media only screen and (min-width: $bp-xlarge) {
    right: 10rem;
    top: 0;
    transform: translateY(-30%);
  }

  @media only screen and (min-width: $bp-xxlarge) {
    width: 12rem;
    height: 24rem;
    right: 20rem;
    top: 0;
    transform: translateY(25%);
  }

  @media only screen and (min-width: $bp-largest) {
    width: 16rem;
    height: 32rem;
    right: 27rem;
    top: 0;
    transform: translateY(0);
  }
}
