.calculator {
  background-color: $color-white;
  margin-bottom: 2.4rem;
  padding: 2.4rem;
  border: 1px solid $color-white;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  border-radius: 10px;
  box-shadow: 0 2rem 4rem #d6e6fe;
  position: absolute;
  top: 45rem;
  right: 5vw;
  left: 5vw;
  z-index: 10;

  @media only screen and (min-width: $bp-small) {
    top: 34rem;
    right: 7vw;
    left: 7vw;
    margin-bottom: 5rem;
  }

  @media only screen and (min-width: $bp-medium) {
    max-width: 60rem;
    top: 12rem;
    left: 50vw;
  }

  @media only screen and (min-width: $bp-xlarge) {
    max-width: 80rem;
    padding: 3.2rem;
    // top: 16rem;
  }

  @media only screen and (min-width: $bp-largest) {
    max-width: 90rem;
    padding: 4.8rem;
    top: 16rem;
  }

  & > .heading-m {
    align-self: center;
    @media only screen and (min-width: $bp-small) {
      align-self: flex-start;
    }

    @media only screen and (min-width: $bp-medium) {
      font-size: 1.6rem;
    }

    @media only screen and (min-width: $bp-xlarge) {
      font-size: 3.2rem;
      margin-bottom: 2.4rem;
    }

    @media only screen and (min-width: $bp-largest) {
      font-size: 4rem;
      margin-bottom: 3.2rem;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;

  &-radio {
    width: 100%;
    display: flex;
    justify-content: space-between;

    @media only screen and (min-width: $bp-small) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 2.4rem;
    }

    @media only screen and (min-width: $bp-largest) {
      margin-bottom: 3.2rem;
    }

    &-label {
      font-size: 2rem;
      cursor: pointer;
      position: relative;
      padding-left: 4.8rem;
      @media only screen and (min-width: $bp-medium) {
        font-size: 1.4rem;
      }

      @media only screen and (min-width: $bp-xlarge) {
        font-size: 2.4rem;
      }

      @media only screen and (min-width: $bp-largest) {
        font-size: 3.2rem;
      }
    }

    &-button {
      display: inline-block;
      width: 2.5rem;
      height: 2.5rem;
      border: 1px solid $color-grey-light;
      border-radius: 50%;
      position: absolute;
      left: 0;
      top: -0.1rem;
      &::after {
        content: "";
        display: block;
        height: 1.2rem;
        width: 1.2rem;
        background-color: $color-blue;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: opacity 0.2s;
        @media only screen and (min-width: $bp-medium) {
          width: 0.8rem;
          height: 0.8rem;
        }

        @media only screen and (min-width: $bp-xlarge) {
          width: 1.2rem;
          height: 1.2rem;
        }

        @media only screen and (min-width: $bp-largest) {
          width: 1.6rem;
          height: 1.6rem;
        }
      }
      @media only screen and (min-width: $bp-medium) {
        width: 1.6rem;
        height: 1.6rem;
      }

      @media only screen and (min-width: $bp-xlarge) {
        width: 2.4rem;
        height: 2.4rem;
      }

      @media only screen and (min-width: $bp-largest) {
        width: 3.2rem;
        height: 3.2rem;
        top: 0.1rem;
      }
    }

    &-input {
      display: none;
    }

    &-input:checked ~ &-label &-button {
      background-color: #d6e6fe;
    }

    &-input:checked ~ &-label &-button::after {
      opacity: 1;
    }
  }

  &-metric {
    display: grid;

    @media only screen and (min-width: $bp-small) {
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 2.4rem;
    }

    @media only screen and (min-width: $bp-xlarge) {
      margin-bottom: 2.4rem;
    }

    @media only screen and (min-width: $bp-largest) {
      margin-bottom: 3.2rem;
    }
    &-label {
      display: block;
      margin-bottom: 0.8rem;
      @media only screen and (min-width: $bp-small) {
        grid-row: 1/2;
      }
      @media only screen and (min-width: $bp-medium) {
        font-size: 1rem;
      }

      @media only screen and (min-width: $bp-xlarge) {
        font-size: 1.6rem;
      }

      @media only screen and (min-width: $bp-largest) {
        font-size: 2.4rem;
      }
    }

    &-input {
      display: block;
      width: 100%;
      height: 6.9rem;
      border: 1px solid $color-grey-light;
      border-radius: 10px;
      padding: 2rem;
      padding-right: 6rem;
      margin-bottom: 1.6rem;

      @media only screen and (min-width: $bp-medium) {
        height: 4rem;
        font-size: 2rem;
      }

      @media only screen and (min-width: $bp-xlarge) {
        height: 6.5rem;
        font-size: 2.4rem;
      }

      @media only screen and (min-width: $bp-largest) {
        height: 7rem;
        font-size: 3.2rem;
      }
    }
  }

  &-imperial {
    @media only screen and (min-width: $bp-xlarge) {
      margin-bottom: 2.4rem;
    }

    @media only screen and (min-width: $bp-largest) {
      margin-bottom: 3.2rem;
    }
    &-label {
      display: block;
      margin-bottom: 0.8rem;
      @media only screen and (min-width: $bp-medium) {
        font-size: 1rem;
      }

      @media only screen and (min-width: $bp-xlarge) {
        font-size: 1.6rem;
      }

      @media only screen and (min-width: $bp-largest) {
        font-size: 2.4rem;
      }
    }

    &-input {
      display: block;
      width: 100%;
      height: 6.9rem;
      border: 1px solid $color-grey-light;
      border-radius: 10px;
      padding: 2rem;
      padding-right: 5rem;
      margin-bottom: 1.6rem;
      @media only screen and (min-width: $bp-medium) {
        height: 4rem;
        font-size: 2rem;
      }

      @media only screen and (min-width: $bp-xlarge) {
        height: 6.5rem;
        font-size: 2.4rem;
      }

      @media only screen and (min-width: $bp-largest) {
        height: 7rem;
        font-size: 3.2rem;
      }
    }

    &-inputs-row {
      display: flex;
      justify-content: space-between;
    }
  }
}

#label-cm,
#label-kg,
#label-ft,
#label-in,
#label-st,
#label-lbs {
  position: relative;
  display: block;
}

#label-ft,
#label-in,
#label-st,
#label-lbs {
  width: 47%;
}

#label-cm::after {
  content: "cm";
  position: absolute;
  top: 1.6rem;
  right: 2rem;
  font-size: 2.4rem;
  font-weight: 600;
  color: $color-blue;
  @media only screen and (min-width: $bp-medium) {
    font-size: 2rem;
    top: 0.6rem;
  }

  @media only screen and (min-width: $bp-xlarge) {
    font-size: 2.4rem;
    top: 1.6rem;
  }

  @media only screen and (min-width: $bp-largest) {
    font-size: 3.2rem;
    top: 1.1rem;
  }
}

#label-kg::after {
  content: "kg";
  position: absolute;
  top: 1.6rem;
  right: 2rem;
  display: block;
  font-size: 2.4rem;
  font-weight: 600;
  color: $color-blue;
  @media only screen and (min-width: $bp-medium) {
    font-size: 2rem;
    top: 0.6rem;
  }

  @media only screen and (min-width: $bp-xlarge) {
    font-size: 2.4rem;
    top: 1.6rem;
  }

  @media only screen and (min-width: $bp-largest) {
    font-size: 3.2rem;
    top: 1.1rem;
  }
}

#label-ft::after {
  content: "ft";
  position: absolute;
  top: 1.6rem;
  right: 2rem;
  font-size: 2.4rem;
  font-weight: 600;
  color: $color-blue;
  @media only screen and (min-width: $bp-medium) {
    font-size: 2rem;
    top: 0.6rem;
  }

  @media only screen and (min-width: $bp-xlarge) {
    font-size: 2.4rem;
    top: 1.6rem;
  }

  @media only screen and (min-width: $bp-largest) {
    font-size: 3.2rem;
    top: 1.1rem;
  }
}

#label-in::after {
  content: "in";
  position: absolute;
  top: 1.6rem;
  right: 2rem;
  font-size: 2.4rem;
  font-weight: 600;
  color: $color-blue;
  @media only screen and (min-width: $bp-medium) {
    font-size: 2rem;
    top: 0.6rem;
  }

  @media only screen and (min-width: $bp-xlarge) {
    font-size: 2.4rem;
    top: 1.6rem;
  }

  @media only screen and (min-width: $bp-largest) {
    font-size: 3.2rem;
    top: 1.1rem;
  }
}

#label-st::after {
  content: "st";
  position: absolute;
  top: 1.6rem;
  right: 2rem;
  font-size: 2.4rem;
  font-weight: 600;
  color: $color-blue;
  @media only screen and (min-width: $bp-medium) {
    font-size: 2rem;
    top: 0.6rem;
  }

  @media only screen and (min-width: $bp-xlarge) {
    font-size: 2.4rem;
    top: 1.6rem;
  }

  @media only screen and (min-width: $bp-largest) {
    font-size: 3.2rem;
    top: 1.1rem;
  }
}

#label-lbs::after {
  content: "lbs";
  position: absolute;
  top: 1.6rem;
  right: 2rem;
  font-size: 2.4rem;
  font-weight: 600;
  color: $color-blue;
  @media only screen and (min-width: $bp-medium) {
    font-size: 2rem;
    top: 0.6rem;
  }

  @media only screen and (min-width: $bp-xlarge) {
    font-size: 2.4rem;
    top: 1.6rem;
  }

  @media only screen and (min-width: $bp-largest) {
    font-size: 3.2rem;
    top: 1.1rem;
  }
}

.score {
  background-color: $color-blue;
  margin-top: 0.8rem;
  padding: 3.2rem;
  border-radius: 10px;
  color: $color-grey-light;
  @media only screen and (min-width: $bp-small) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2.4rem;
    border-radius: 10px 100px 100px 10px;
    align-items: center;
    font-size: 1.6rem;
  }

  @media only screen and (min-width: $bp-medium) {
    padding: 2rem;
    font-size: 1.2rem;
  }

  @media only screen and (min-width: $bp-large) {
    font-size: 2rem;
    padding: 2.4rem;
  }

  @media only screen and (min-width: $bp-largest) {
    padding: 3.2rem;
  }

  & .heading-s {
    @media only screen and (min-width: $bp-medium) {
      font-size: 2.4rem;
    }
  }
}

#BMI-intro {
  display: block;
  grid-column: 1 / -1;
}

#BMI-score {
  display: block;
  font-size: 4.8rem;
  font-weight: 600;

  @media only screen and (min-width: $bp-medium) {
    font-size: 6.4rem;
  }
}

#BMI-text {
  display: none;
}

#BMI-range {
  font-size: 2rem;
  font-weight: 600;
  @media only screen and (min-width: $bp-medium) {
    font-size: 1.4rem;
  }

  @media only screen and (min-width: $bp-medium) {
    font-size: 2.2rem;
  }
}
